{% extends 'base.html' %}

{% block title %}Tomato Garden{% endblock %}

{% block header %}
	<h1>Tomato Garden</h1>
{% endblock %}

{% block content %}
	<ul>
		<li><a href="{{ url_for('pages.user') }}">User page</a> for kiosk usage. Dynamic functionality not added yet, but you can see a static preview.</li>
		<li><a href="{{ url_for('pages.admin') }}">Admin page</a> for staff, not IT. Most db operations are here.</li>
	</ul>
	<hr>
	<p>Team 14 (Boundary Tomato) Members:</p>
	<ul>
		<li>Alexander Nead-Work (Reviewer 1)</li>
		<li>Gabriel Kulp (Reviewer A)</li>
	</ul>
{% endblock %}
