{% extends 'admin-base.html' %}

{% block title %}Community Garden{% endblock %}

{% block header %}
	<h1>Community Garden</h1>
{% endblock %}

{% block controls %}
	<hr>
	<p>Team 14 (Boundary Tomato) Members:</p>
	<ul>
		<li>Alexander Nead-Work (Reviewer 1)</li>
		<li>Gabriel Kulp (Reviewer A)</li>
	</ul>
	<p>
		Community Boundary Tomato Garden manages over 1000 plots every season.
		<br>
		There are over 800 people using these plots, with nearly
		<a href="https://njaes.rutgers.edu/tomato-varieties/">300</a> different
		varieties of tomato plants being grown.
		<br>
		Tools are also available to check out. It's easy
		to see who has what and which tools are checked in.
	</p>
{% endblock %}