{% extends 'admin-base.html' %}

{% block title %}People{% endblock %}

{% block header %}
	<h1>People</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Person</h2>
	<form action="{{ url_for('pages.people') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		First name <input type="text" id="first_name" name="first_name">
		<br>
		Last name <input type="text" id="last_name" name="last_name">
		<br>
		Email <input type="text" id="email" name="email">
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Delete</th>
		</tr>
		{% for person in people %}
			<tr>
				<td>
					<form method="POST">
						<input type="hidden" id="person_id" name="person_id" value="{{ person.person_id }}">
						<input type="hidden" id="action" name="action" value="first_name">
						<input type="text" id="name" name="name" value="{{ person.first_name}}">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="person_id" name="person_id" value="{{ person.person_id }}">
						<input type="hidden" id="action" name="action" value="last_name">
						<input type="text" id="name" name="name" value="{{ person.last_name}}">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="person_id" name="person_id" value="2">
						<input type="hidden" id="action" name="action" value="email">
						<input type="email" id="name" name="name" value="{{ person.email }}">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="person_id" name="person_id" value="{{ person.person_id }}">
						<input type="hidden" id="action" name="action" value="delete">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
