{% extends 'admin-base.html' %}

{% block title %}People{% endblock %}

{% block header %}
	<h1>People</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Person</h2>
	<form action="{{ url_for('pages.people') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		First name <input type="text" id="first_name" name="first_name">
		<br>
		Last name <input type="text" id="last_name" name="last_name">
		<br>
		Email <input type="text" id="email" name="email">
		<br>
		<input type="submit" value="add">
	</form>
	<br>
	<table>
		<tr>
			<th>Person</th>
			<th>Change Name</th>
			<th>Change Email</th>
			<th>Reset Password</th>
			<th>Delete</th>
		</tr>
		<tr>
			<td>Harold Miller</td>
			<td>
				<form method="POST">
					<input type="text" id="name" name="name" value="Harold Miller">
					<input type="hidden" id="action" name="action" value="changename">
					<input type="hidden" id="person_id" name="person_id" value="2">
					<input type="submit" value="Change Name">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="email" id="name" name="name" value="harold.miller@email.corp">
					<input type="hidden" id="action" name="action" value="changeemail">
					<input type="hidden" id="person_id" name="person_id" value="2">
					<input type="submit" value="Change Email">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="resetpw">
					<input type="hidden" id="person_id" name="person_id" value="2">
					<input type="submit" value="Reset Password">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="delete">
					<input type="hidden" id="person_id" name="person_id" value="2">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
		<tr>
			<td>Nancy Mulligan</td>
			<td>
				<form method="POST">
					<input type="text" id="name" name="name" value="Nancy Mulligan">
					<input type="hidden" id="action" name="action" value="changename">
					<input type="hidden" id="person_id" name="person_id" value="5">
					<input type="submit" value="Change Name">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="email" id="name" name="name" value="nancy.mulligan@email.corp">
					<input type="hidden" id="action" name="action" value="changeemail">
					<input type="hidden" id="person_id" name="person_id" value="5">
					<input type="submit" value="Change Email">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="resetpw">
					<input type="hidden" id="person_id" name="person_id" value="5">
					<input type="submit" value="Reset Password">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="delete">
					<input type="hidden" id="person_id" name="person_id" value="5">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
{% endblock %}
