{% extends 'admin-base.html' %}

{% block title %}Plots{% endblock %}

{% block header %}
	<h1>Plots Management</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Plot</h2>
	<form action="{{ url_for('pages.plots') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		Location <input required="true" type="text" id="location" name="location">
		<br>
		Size <input type="number" required="true" id="length" name="length" placeholder="L"> x <input type="number" required="true" id="width" name="width" placeholder="W">
		<br>
		Owner(s)
		<select name="owners" multiple>
		{% for person in people %}
			<option value="{{ person['person_id'] }}">
				{{ person['first_name'] }} {{ person['last_name'] }}
			</option>
		{% endfor %}
		</select>
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
	<h2>Search by Location</h2>
	<form action="{{ url_for('pages.plots') }}" method="GET">
		Query <input required="true" type="text" name="query">
		<br>
		<input type="submit" value="Search">
	</form>
	<br>
	{% if query != "" %}
	Showing search results for "{{ query }}" (<a href="{{ url_for('pages.plots') }}">view all plots</a>):
	<br>
	<br>
	{% endif %}
	<table>
		<tr>
			<th>Location</th>
			<th>Owner(s)</th>
			<th>Manage Plants</th>
			<th>Size (LxW)</th>
			<th>Delete</th>
		</tr>
		{% for plot in plots %}
			<tr>
				<td>
					<form action="{{ url_for('pages.plots') }}" method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="location">
						<input type="text" required="true" id="location" name="location" value="{{ plot['location'] }}">
						<input type="submit" value="Update Location">
					</form>
				</td>
				<td>
					<form action="{{ url_for('pages.plots') }}" method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="owners">
						<select name="owners" multiple>
						{% for person in people %}
							<option value="{{ person['person_id'] }}" {% if person['person_id'] in plot_owners[plot['plot_id']] %} selected {% endif %}>
								{{ person['first_name'] }} {{ person['last_name'] }}
							</option>
						{% endfor %}
						</select>
						<input type="submit" value="Update Owners">
					</form>
				</td>
				<td><a href="{{ url_for('pages.plot', id=plot['plot_id']) }}">Manage</a></td>
				<td>
					<form action="{{ url_for('pages.plots') }}" method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="size">
						<input type="number" required="true" id="length" name="length" value="{{ plot['length'] }}">
						x
						<input type="number" required="true" id="width" name="width" value="{{ plot['width'] }}">
						<input type="submit" value="Update Size">
					</form>
				</td>
				<td>
					<form action="{{ url_for('pages.plots') }}" method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="delete">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
