{% extends 'admin-base.html' %}

{% block title %}Plot{% endblock %}

{% block header %}
	<h1>Single Plot Controls</h1>
{% endblock %}

{% block controls %}
	<form method="POST">
		<input type="hidden" id="action" name="action" value="add">
		<select name="variety_id" required="true">
			{% for variety in varieties %}
				<option value="{{ variety['variety_id'] }}">
					{{ variety['name'] }} ({{ variety['season'] }})
				</option>
			{% endfor %}
		</select>
		<input type="submit" value="Add new plant">
	</form>
	<br>
	<table>
		<tr>
			<th>Plant Name</th>
			<th>Delete</th>
		</tr>
		{% for plant in plants %}
			<tr>
				<td>{{ plant['name'] }}</td>
				<td>
					<form method="POST">
						<input type="hidden" id="action" name="action" value="delete">
						<input type="hidden" id="plant_id" name="plant_id" value="{{ plant['plant_id'] }}">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
