{% extends 'admin-base.html' %}

{% block title %}Plots{% endblock %}

{% block header %}
	<h1>Plots Management</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Plot</h2>
	<form action="{{ url_for('pages.plots') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		Location <input type="text" id="location" name="location">
		<br>
		Size <input type="number" id="length" name="length" placeholder="L"> x <input type="number" id="width" name="width" placeholder="W">
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
	<table>
		<tr>
			<th>Plot Number</th>
			<th>Location</th>
			<th>Size (LxW)</th>
			<th>Manage Plants</th>
			<th>Delete</th>
		</tr>
		<tr>
			<td>Plot 1</td>
			<td>
				<form method="POST">
					<input type="text" id="name" name="name" value="Near shed">
					<input type="hidden" id="action" name="action" value="changelocation">
					<input type="hidden" id="plot_id" name="plot_id" value="1">
					<input type="submit" value="Change Name">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="number" id="length" name="length" value="9">
					x
					<input type="number" id="width" name="width" value="5">
					<input type="hidden" id="action" name="action" value="changesize">
					<input type="hidden" id="plot_id" name="plot_id" value="1">
					<input type="submit" value="Change Size">
				</form>
			</td>
			<td>
				<form action="plot.html">
					<input type="submit" value="Manage">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="delete">
					<input type="hidden" id="plot_id" name="plot_id" value="1">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
		<tr>
			<td>Plot 2</td>
			<td>
				<form method="POST">
					<input type="text" id="name" name="name" value="North of gate">
					<input type="hidden" id="action" name="action" value="changelocation">
					<input type="hidden" id="plot_id" name="plot_id" value="2">
					<input type="submit" value="Change Name">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="number" id="length" name="length" value="3">
					x
					<input type="number" id="width" name="width" value="3">
					<input type="hidden" id="action" name="action" value="changesize">
					<input type="hidden" id="plot_id" name="plot_id" value="2">
					<input type="submit" value="Change Size">
				</form>
			</td>
			<td>
				<form action="plot.html">
					<input type="submit" value="Manage">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="delete">
					<input type="hidden" id="plot_id" name="plot_id" value="2">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
{% endblock %}
