{% extends 'admin-base.html' %}

{% block title %}Plots{% endblock %}

{% block header %}
	<h1>Plots Management</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Plot</h2>
	<form action="{{ url_for('pages.plots') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		Location <input required="true" type="text" id="location" name="location">
		<br>
		Size <input type="number" required="true" id="length" name="length" placeholder="L"> x <input type="number" required="true" id="width" name="width" placeholder="W">
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
	<table>
		<tr>
			<th>Plot Number</th>
			<th>Location</th>
			<th>Size (LxW)</th>
			<th>Manage Plants</th>
			<th>Delete</th>
		</tr>
		{% for plot in plots %}
			<tr>
				<td><a href="{{ url_for('pages.plot', id=plot['plot_id']) }}">Plot {{ plot['plot_id'] }}</a></td>
				<td>
					<form method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="changelocation">
						<input type="text" required="true" id="name" name="name" value="{{ plot['location'] }}">
						<input type="submit" value="Change Name">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="changesize">
						<input type="number" required="true" id="length" name="length" value="{{ plot['length'] }}">
						x
						<input type="number" required="true" id="width" name="width" value="{{ plot['width'] }}">
						<input type="submit" value="Change Size">
					</form>
				</td>
				<td>
					<form action="plot.html">
						<input type="submit" value="Manage">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="plot_id" name="plot_id" value="{{ plot['plot_id'] }}">
						<input type="hidden" id="action" name="action" value="delete">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
