{% extends 'admin-base.html' %}

{% block title %}Tools{% endblock %}

{% block header %}
	<h1>Tools Management</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Tool</h2>
	<form action="{{ url_for('pages.tools') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		Name <input type="text" required="true" id="name" name="name">
		<br>
		Condition <select required="true" id="condition" name="condition">
			<option value="1">New</option>
			<option value="2">Great</option>
			<option value="3">Good</option>
			<option value="4">Fair</option>
			<option value="5">Poor</option>
			<option value="6">Broken</option>
		</select>
		<br>
		Checked Out To (can be null) <select required="true" id="person" name="person">
			<option value="-1">Checked In</option>
			{% for person in people %}
				<option value="{{ person['person_id'] }}">
					{{ person['first_name'] }} {{ person['last_name'] }}
				</option>
			{% endfor %}
		</select>
		<br>
		<input type="submit" value="Add">
	</form>
	<br>
	<table>
		<tr>
			<th>Tool Name</th>
			<th>Checked out to</th>
			<th>Last-known condition</th>
			<th>Delete</th>
		</tr>
		{% for tool in tools %}
		<tr>
			<td>
				<form method="POST">
					<input type="hidden" id="tool_id" name="tool_id" value="{{ tool['tool_id'] }}">
					<input type="hidden" id="action" name="action" value="name">
					<input type="text" required="true" id="name" name="name" value="{{ tool['name'] }}">
					<input type="submit" value="Update">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="tool_id" name="tool_id" value="{{ tool['tool_id'] }}">
					<input type="hidden" id="action" name="action" value="check_out">
					<select required="true" id="person_id" name="person_id">
						<option value="checked_in">Checked In</option>
						{% for person in people %}
							<option value="{{ person['person_id'] }}" {% if person['person_id'] == tool['person_id'] %} selected {% endif %}>
								{{ person['first_name'] }} {{ person['last_name'] }}
							</option>
						{% endfor %}
					</select>
					<input type="submit" value="Update">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="tool_id" name="tool_id" value="{{ tool['tool_id'] }}">
					<input type="hidden" id="action" name="action" value="condition">
					<select required="true" id="condition" name="condition">
						{% for (val, text) in [
							(1, "New"),
							(2, "Great"),
							(3, "Good"),
							(4, "Fair"),
							(5, "Poor"),
							(6, "Broken")
						] %}
							<option value="{{ val }}" {% if val == tool['condition'] %} selected {% endif %}>
								{{ text }}
							</option>
						{% endfor %}
					</select>
					<input type="submit" value="Update">
				</form>
			</td>
			<td>
				<form method="POST">
					<input type="hidden" id="action" name="action" value="delete">
					<input type="hidden" id="tool_id" name="tool_id" value="{{ tool['id'] }}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
