{% extends 'admin-base.html' %}

{% block title %}Varieties{% endblock %}

{% block header %}
	<h1>Varieties Management</h1>
{% endblock %}

{% block controls %}
	<h2>Add New Variety</h2>
	<form action="{{ url_for('pages.varieties') }}" method="POST">
		<input type="hidden" id="action" name="action" value="add">
		Variety <input type="text" required="true" id="name" name="name">
		<br>
		Season <input type="text" required="true" id="season" name="season">
		<br>
		<input type="submit" value="Add">
	</form>
	<table>
		<tr>
			<th>Variety</th>
			<th>Season</th>
			<th>Delete</th>
		</tr>
		{% for variety in varieties %}
			<tr>
				<td>
					<form method="POST">
						<input type="hidden" id="variety_id" name="variety_id" value="{{ variety['variety_id'] }}">
						<input type="hidden" id="action" name="action" value="name">
						<input type="text" required="true" id="name" name="name" value="{{ variety.name }}">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" id="variety_id" name="variety_id" value="{{ variety['variety_id'] }}">
						<input type="hidden" id="action" name="action" value="season">
						<input type="text" required="true" id="season" name="season" value="{{ variety.season }}">
						<input type="submit" value="Update">
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" required="true" id="action" name="action" value="delete">
						<input type="hidden" required="true" id="variety_id" name="variety_id" value="{{ variety.variety_id }}">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
